[submodule "start/fzf"]
	path = start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "start/syntax-toml"]
	path = start/syntax-toml
	url = https://github.com/cespare/vim-toml
[submodule "start/syntax-i3config"]
	path = start/syntax-i3config
	url = https://github.com/mboughaba/i3config.vim
[submodule "start/syntax-ron"]
	path = start/syntax-ron
	url = https://github.com/ron-rs/ron.vim
[submodule "start/syntax-nix"]
	path = start/syntax-nix
	url = https://github.com/LnL7/vim-nix
[submodule "start/tpope-surround"]
	path = start/tpope-surround
	url = https://github.com/tpope/vim-surround
[submodule "start/tpope-commentary"]
	path = start/tpope-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "start/tpope-repeat"]
	path = start/tpope-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "start/coc"]
	path = start/coc
	url = https://github.com/neoclide/coc.nvim
